body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 500px;
    height: 280px;
    border: black solid 1px;
    display: flex;
    justify-content: center;
}

.square{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    margin: 2px;
    text-align: center;
}
.properties{
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 100vh;
    background-color: #ddd;
    overflow: auto;
}
ul{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.toggle{
    display: block;
}