body{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    background-color: #ddd;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    height:100vh;
    justify-content: center;
    align-content:center;
}

.grid-container > div{
    background-color: rgb(175 204 220);
    padding: 10px;
    border: black solid 1px;
    text-align: center;
    cursor: pointer;
}
#display{
    grid-column: 1/5;
    background-color: white;
}
.grid-container > div:hover{
    background-color:#d3f5f5;
}
