body{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.container{
    width: 170px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
}
.config{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.valor{
    height: 20px;
    background-color: cadetblue;
}
.center{
    display: flex;
    justify-content: center;
}
.setTimer{
    display: flex;
    flex-direction: column;
}
.setValor{
    display: flex;
}
.valores{
    display: flex;
    flex-direction: column;
    width: 50%;
}